.navbar-custom {
  background: #540b0e;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav-link {
  color: white !important;
  font-weight: bold;
}
.nav-link:hover {
  color: #ffdd00 !important;
}
.navbar-brand {
  color: white !important;
  font-weight: bold;
  font-size: 1.6rem !important;
}

.nav-link:active{
  text-decoration: underline;
}